* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background: black;
    display: grid;
    place-items: center;
}
header {
    position: relative;
    width: 85%;
    height: 95%;
    // border: 1px  solid white;
    display: flex;
    flex-wrap: wrap;
    .menu_side , .song_side{
        width: 25%;
        height: 90%;
        // border: 1px solid white;
        background: black ;
        color: white;
    }
    .menu_side
    {
        h1{
            font-size: 20px;
            margin: 15px 0px 0px 20px;
            font-weight: 500;
        }
        .playlist{
            margin: 40px 0px 0px 20px;
            .active{
                color: #b4b5b6;
                span{
                    display: none;
                }
                .bi{
                    display: flex;
                    margin-right: 20px;
                }
            }
            h4{
                font-size: 14px;
                font-weight: 400;
                padding-bottom: 10px;
                color: #b4b5b6;
                cursor: pointer;
                display: flex;
                align-items: center;
                transition: .3s linear;
                .bi{
                    display: none;
                }
                &:hover{
                    color: #fff;
                    span{
                        &::before{
                            border: 2px solid #fff;
                        }
                    }
                }
                span{
                    position: relative;
                    margin-right: 35px;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 4px;
                        height: 4px;
                        border: 2px solid   ;
                        border-radius: 50%;
                        top: -5px;
                    }
                }
            }
        }
    }
    .song_side{
        width: 75%;
        background: #101010;
        box-shadow: 5px 0px 2px #0f0f0f;
    }
    .master_play{
        width: 100%;
        height: 10%;
        // border: 1px solid #fff;
        background: #040404;
        box-shadow: 0px 3px 8px #010101;
        display: flex;
        align-items: center;
        padding: 0px 20px;
        .wave{
            width: 30px;
            height: 30px;
            // border: 1px solid #fff;
            padding-bottom: 5px;
            display: flex;
            align-items: flex-end;
            margin-right: 10px;
            .wave1{
                width: 3px;
                height: 10px;
                background: red;
                margin-right: 3px;
                border-radius: 10px 10px 0px 0px;
                animation: unset;
                &:nth-child(2){
                    height: 13px;
                    margin-right: 3.5px;
                    animation-delay: .4s;
                }
                &:nth-child(3){
                    height: 8px;
                    animation-delay: .8s;
                }
            }
        }
    }
    .menu_song{
        width: 100%;
        height: 380px;
        // border: 1px solid white;
        margin-top: 40px;
        overflow: auto;
        &::-webkit-scrollbar{
            display: none;
        }
        li{
            list-style-type: none;
            position: relative;
            padding: 5px 0px 5px 20px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            cursor: pointer;
            transition: 0.3s linear;
            .bi{
                position: absolute;
                right: 15px;
            }
            h5{
                font-size: 11px;
                margin-left: 15px;
                width: 170px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                .subtitle{
                    font-size: 9px;
                    color: #b4b5b6;
                }
            }
            img{
                height: 32px;
                width: 32px;
                margin-left: 25px;
            }
            span{
                font-size: 12px;
                font-weight: 600;
                color: #b4b5b6;
            }
            &:hover{
                background: rgb(105, 105, 105, .1);
            }
        }
    }
}

/* javascript classes */

header {
    .song_side{
        z-index: 2;
        .popular_artists{
            width: 90%;
            height: auto;
            // border: 1px solid #fff;
            margin: auto;
            margin-top: 15px;
            .item{
                width: 100%;
                height: auto;
                margin-top: 15px;
                display: flex;
                // border: 1px solid #fff;
                overflow: auto;
                scroll-behavior: smooth;
                li{
                    list-style-type: none;
                    position: relative;
                    min-width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    margin-right: 20px;
                    min-width: 60px;
                    list-style-type: none;
                    transition: .3s linear;
                    cursor: pointer;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                &::-webkit-scrollbar{
                    display: none;
                }
            }
            .h4{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .bi{
                    color: #b4b5b6;
                    cursor: pointer;
                    transition: .3s linear;
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
        .popular_song{
            width: 90%;
            height: auto;
            margin: auto;
            margin-top: 15px;
            // border: 1px solid #fff;
            .pop_song{ 
                width: 100%;
                height: 150px;
                margin-top: 15px;
                display: flex;
                // border: 1px solid #fff;
                overflow: auto;
                scroll-behavior: smooth;
                &::-webkit-scrollbar{
                    display: none;
                }
                li{
                    min-width: 100px;
                    height: 140px;
                    list-style-type: none;
                    margin-right: 10px;
                    transition: .3s linear;
                    h5{
                        padding: 5px 0px 0px 5px;
                        line-height: 15px;
                        font-size: 10px;
                        width: 100px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        .subtitle{
                        font-size: 9px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        color: #b4b5b6;
                        }
                    }
                    .img_play{
                        position: relative;
                        width: 100px;
                        height: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .bi{
                            position: absolute;
                            font-size: 20px;
                            cursor: pointer;
                            transition: .3s linear;
                            opacity: 0;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    &:hover{
                        background: rgb(105, 105, 170, .1);
                        .img_play{
                            .bi{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .h4{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .bi{
                    color: #a4a8b4;
                    cursor: pointer;
                    transition: .3s linear;
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
        .content{
            width: 90%;
            height: 30%;
            background: url("img/stars.back.png");
            background-size: 540px;
            // border: 1px solid #fff;
            margin: auto;
            padding-top: 20px;
            h1{
                font-size: 25px;
                font-weight: 600;
            }
            p{
                font-size: 11px;
                font-weight: 400;
                color: #4c5262;
                margin: 5px;
            }
            .buttons{
                margin-top: 15px;
                button{
                    width: 130px;
                    height: 30px;
                    border: 2px solid #e6e6e6;
                    outline: none;
                    border-radius: 20px;
                    background: #e6e6e6;
                    color: black;
                    cursor: pointer;
                    transition: .3s linear;
                    &:hover{
                        background: none;
                        color: #e6e6e6;
                    }
                    &:nth-child(2){
                        background: none;
                        color: #e6e6e6;
                    }
                    &:nth-child(2):hover{
                        background: #e6e6e6;
                        color: black;
                    }
                }
            }
        }
        nav{
            width: 90%;
            height: 10%;
            // border: 1px solid #fff;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;      
            .user{
                position: relative;
                width: 30px;
                height: 30px;
                border: 1px solid #fff;
                border-radius: 50%;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    box-shadow: 2px 2px 8px #121213;
                }
            }
            .search{
                position: relative;
                width: 40%;
                padding: 1px 10px;
                border-radius: 20px;
                // border: 1px solid #fff;
                color: grey;
                .bi{
                    font-size: 13px;
                    padding: 3px 0px 0px 10px;
                }
                input{
                    background: none;
                    border: none;
                    outline: none;
                    padding: 0px 10px;
                    color: #fff;
                    font-size: 12px;
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgb(184, 184, 184, .1);
                    border-radius: 20px;
                    backdrop-filter: blur(5px);
                    z-index: -1;
                }
            }
            ul{
                display: flex;
                li{
                    list-style: none;
                    position: relative;
                    font-size: 13px;
                    color: #a4a8b4;
                    margin-right: 25px;
                    cursor: pointer;
                    transition: .3s linear;
                    &:nth-child(1){

                    }
                    &:hover{
                        color: #fff;
                    }
                    span{
                        position: absolute;
                        width: 100%;
                        height: 2.5px;
                        background: red;
                        bottom: -5px;
                        left: 0;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
    .song_side{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 400px;
            background: url(flock-of-bats-illustration-png.webp);
            background-size: 300px;
            background-repeat: no-repeat;
            z-index: -1;
        }
    }
    .master_play{
        .vol{
            position: relative;
            width: 100px;
            height: 2px;
            background: rgb(105, 105, 170, .1);
            margin-left: 50px;
            .dot{
                position: absolute;
                width: 5px;
                height: 5px;
                background: #bf1a2f;
                border-radius: 50%;
                left: 0%;
                top: -1.5px;
                transition: 1s linear;
                &::before{
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border: 1px solid #bf1a2f;
                    border-radius: 50%;
                    left: -7px;
                    top: -6.5px;    
                    box-shadow: inset 0px 0px 3px #bf1a2f;
                }
            }
            .bi{
                position: absolute;
                color: #fff;
                font-size: 25px;
                top: -17px;
                left: -30px;
            }
            input{
                position: absolute;
                width: 100%;
                top: -6px;
                left: 0;
                cursor: pointer;
                z-index: 9999999999;
                opacity: 0;
            }
            .vol_bar{
                position: absolute;
                background: #bf1a2f;
                width: 50%;
                height: 100%;
                top: 0;
                transition: 1s linear;
            }
        }
        .bar{
            position: relative;
            width: 43%;
            height: 2px;
            background:  rgb(105, 105, 105, .1);
            margin: 0px 15px 0px 10px;
            input{
                position: absolute; 
                width: 100%; 
                top: -7px;
                left: 0;
                cursor: pointer;
                z-index: 999999;
                // transition: 3s linear;
                opacity: 0;
            }
            .bar2{
                position: absolute;
                background: #bf1a2f;
                width: 50%;
                height: 100%;
                top: 0;
                transition: 1s linear;
            }
            .dot{
                position: absolute;
                width: 5px;
                height: 5px;
                background: #bf1a2f;
                border-radius: 50%;
                left: 0%;
                top: -1.5px;
                transition: 1s linear;
                &::before{
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border: 1px solid #bf1a2f;
                    border-radius: 50%;
                    left: -7px;
                    top: -6.5px;    
                    box-shadow: inset 0px 0px 3px #bf1a2f;
                }
            }
        }
        #currentStart{
            margin: 0px 0px 0px 20px;
        }
        span{
            color: #fff;
            width: 32px;
            // border: 1px solid #fff;
            font-size: 11px;
            font-weight: 400;
        }
        .icon{
            font-size: 20px;
            color: #fff;
            margin: 0px 20px 0px 40px;
            outline: none;
            display: flex;
            align-items: center;
            #download_music{
                        font-size: 20px;
                        margin-left: 10px;
            }
            .bi{
                cursor: pointer;
                outline: none;
                    &:nth-child(3){
                        border: 1px solid rgb(105, 105, 105, .1);
                        border-radius: 50%;
                        padding: 1px 5px 0px 7px;
                        margin: 0px 5px;
                    }
            }
            .shuffle{
                font-size: 17px;
                margin-right: 10px;
                width: 17.5px;
                overflow: hidden;
                display: flex;
                align-items: center;
            }
        }
        h5{
            width: 130px;
            // border: 1px solid #fff;
            margin-left: 15px;
            color: white;
            line-height: 17px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            font-size: 13px;
            .subtitle{
                font-size: 11px;
                color: #4c5262;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                text-wrap: nowrap
            }
        }
        img{
            width: 35px;
            height: 35px;
        }
        .active1{   
            .wave1 {
                height: 8px;
                animation-delay: wave .5s linear infinite; 

                &:nth-child(2){
                    animation-delay: .4s;
                }
                &:nth-child(3){ 
                    animation-delay: .8s;
                }
            }
        }
    }
}   

@keyframes wave {
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }   
    100%{
        height: 10px;
    }
}